{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="contactus">

            <h1 class="aos-init" data-aos="fade-up">تماس با ما:</h1>
            <br><br>
            <h4 class="aos-init" data-aos="fade-up">شماره رستوران:</h4>
            <p class="aos-init" data-aos="fade-up">۰۸۶-۴۲۴۶۳۵۰۰</p>
            <p class="aos-init" data-aos="fade-up">۰۸۶-۴۲۴۶۳۵۴۳</p>
            <br>
            <h4 class="aos-init" data-aos="fade-up">شماره مدیریت:</h4>
            <p class="aos-init" data-aos="fade-up">۰۹۱۲۴۵۵۱۱۸۵</p>
            <br>
            <h4 class="aos-init" data-aos="fade-up">ما را در شبکه های اجتماعی دنبال کنید</h4>
            <a class="aos-init" data-aos="fade-up" href="https://www.instagram.com/farshadrestaurant"><img width="5%" src="{% static 'accounts/assets/brand/insta-icon.png'%}"></a>
            <br><br>
            <h3 class="aos-init" data-aos="fade-up">آدرس:</h3>
            <p class="aos-init" data-aos="fade-up">ساوه-بلوار آزادی.بین آزادی ۲۰ و ۲۲</p>
        </div>
         <iframe class="mt-4 aos-init" data-aos="fade-up"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5493.678977387094!2d50.368340908996885!3d35.042709262868755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f929764450568f3%3A0x1b5bca1f182e2b62!2sFarshad%20Restaurant!5e0!3m2!1sen!2s!4v1612460275704!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
{% endblock %}